* {
  font-family: "Raleway", sans-serif;
  box-sizing: content-box;
}

*::selection {
  background-color: #000;
  color: #ebe80c;
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* Boton de scroll */

.button {
  background-color: #e2e20e;
  border: 0;
  z-index: 9;
  border-radius: 100%;
  outline: none;
  padding: 15px;
  position: fixed;
  top: 10px;
  right: 50px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.active {
  visibility: visible;
  opacity: 100%;
  cursor: pointer;
}

.active:hover {
  background-color: #000;
}
.fas {
  font-size: 20px;
}

.active:hover .fas {
  color: #e2e20e;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.logo__img {
  max-height: 70px;
  margin: 0 15px;
}

.navbar__items {
  margin-right: 15px;
}

.navbar__item {
  text-decoration: none;
  padding: 12px;
  margin: 0;
  border-radius: 50px;
  color: #ebe80c;
  font-weight: 600;
  transition: 0.3s ease all;
}

.navbar__item:hover {
  background-color: #ebe80c;
  color: #000;
}

/* Header */

.header {
  background-image: url(../Imagenes/fachada.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.titulo {
  text-align: center;
  margin: 0;
}

.header__sub-titulo {
  margin-top: 0;
}

.header__texto {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: 0 auto;
}

.boton {
  text-decoration: none;
  color: #000;
  background-color: #ebe80c;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  transition: 0.3s ease all;
}

.boton-header:hover {
  background-color: #d0ce11;
}

/* About us */

/*.nosotros {
  background-color: #ebe80c;
  margin: 0;
}

.nosotros__titulo {
  font-size: 30px;
}

.nosotros__contenido {
  display: flex;
}

.nosotros__img {
  width: 25em;
  height: 40%;
  margin: 10px;
}

.nosotros__texto {
  font-weight: 600;
  width: auto;
  margin: 5px;
  min-width: 40%;
  text-align: center;
  line-height: 30px;
  align-self: center;
}*/
